<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntexII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>Document</title>
</head>
<body>
    <!-- Cookie banner -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#7e7f9a",
                    "text": "#ffffff"
                },
                "button": {
                    "background": "#353531",
                    "text": "#ffffff"
                }
            },
            "content": {
                "message": "This website uses cookies to ensure you get the best experiences on our website. By proceeding, you are consenting to our use of cookies and agreeing to our Privacy Policy",
                "dismiss": "Got it!",
                "href": "/Home/Privacy"
            }
        });</script>
    </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IntexII</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Records">Records</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex justify-content-between">
        <div class="container">
            &copy; 2022 - IntexII - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Crashes">Admin</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



<script>// Cookie banner
    if (localStorage.getItem('cookieSeen') != 'shown') {
        $(".cookie-banner").delay(2000).fadeIn();
        localStorage.setItem('cookieSeen', 'shown')
    }

    $('.close').click(function (e) {
        $('.cookie-banner').fadeOut();
    });</script>
</html>
